<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <h2 class="footer-heading">Luke Brennan</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Luke Brennan</li>
          <li>
            <a class="u-email" href="mailto:lukejohnbrennan@gmail.com"
              >lukejohnbrennan@gmail.com</a
            >
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {%- include social.html -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>
          if you'd like to support this project, you can [buy me a
          coffee](https://buymeacoffee.com/lukebrennan)
        </p>
      </div>
    </div>
  </div>
</footer>
